<div class="container-fluid dashboard-header">
    <div class="row">
        <h1>Chatastic :: {{currentPage}}</h1>
    </div>
</div>

<div class="container dashboard">

  <div class="row" ng-show="configured">
    <h2>Configured Services</h2>
  </div>

  <div class="row">
    <h2>Available Services</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-body">
            <img class="img-responsive" src="/assets/img/pagerduty.png">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-body">
            <img class="img-responsive" src="/assets/img/slack.png">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-body">
            <img class="img-responsive" src="/assets/img/hipchat.jpg">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-body">
            <img class="img-responsive" src="/assets/img/victorops.png">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-body">
            <img class="img-responsive" src="/assets/img/opsgenie.png">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-body">
            <img class="img-responsive" src="/assets/img/alertops.png">
        </div>
      </div>
    </div>
</div>
