<div class="container-fluid dashboard-header">
    <div class="row">
        <h1>Chatastic :: {{currentPage}}</h1>
    </div>
</div>

<div class="container dashboard">

  <div class="row" ng-show="configured">
    <h2>Configured Services</h2>
  </div>

  <div class="row">
    <h2>Available Services</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="/pagerduty/settings">
        <div class="panel">
          <div class="panel-body">
              <img class="img-responsive" src="/assets/img/pagerduty.png">
            </a>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="/slack/settings">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="/assets/img/slack.png">
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="/hipchat/settings">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="/assets/img/hipchat.jpg">
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="/victorops/settings">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="/assets/img/victorops.png">
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <a href="/opsgenie/settings">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="/assets/img/opsgenie.png">
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="/alertops/settings">
        <div class="panel">
          <div class="panel-body">
            <img class="img-responsive" src="/assets/img/alertops.png">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
