<dashboard-header></dashboard-header>
<div class="container">
  <div class="row connect-row">
    <div class="col-md-12 center">
        <img src="/assets/img/slack.png">
    </div>
  </div>
  <div class="row connect-row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
            <label for="token">Token</label>
            <input type="text" id="token" class="form-control" ng-model="token" placeholder="xoxp-123456789-123456789-123456789-123456789">
        </div>
        <div class="form-group">
            <label for="channel">Channel Code</label>
            <input type="text" id="channel" class="form-control" ng-model="channel" placeholder="C0D3CUJ7M">
        </div>
        <div class="form-group">
            <label for="botname">Bot Name</label>
            <input type="text" id="botname" class="form-control" ng-model="botname" placeholder="MySuperBot">
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-primary">Connect Slack</button>
        </div>
      </form>
    </div>
  </div>
</div>
